body {
  /* padding-top:3px ;
  padding-left:5px ; */
  width: 100%;
  /* background-color: rgba(0, 255, 255, 0.188); */
  background-color: white;
  /* background: linear-gradient(to right, #ffffff, #f9f9f9); */
  /* background: linear-gradient(to top, #ffffff, #e6e6e6); */
}

#img_url_name{
  display: none;
}

.upload-section{
  text-align: center;
  margin-top: 5.8%;
  margin-bottom: 5.8%;
}

.upload-class{
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.photo-gallery {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .photo-gallery ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .photo-gallery li {
    display: inline-block;
    margin: 10px;
  }
  
  .photo-gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.232);
  }
  
  .photo-gallery a {
    text-decoration: none;
    color: black;
  }
  
  .photo-gallery a:hover {
    color: gray;
  }

  /* previer image code css*/
  #image-previewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
  }
  
  #preview-image {
    max-height: 90vh;
    max-width: 90vh;
    width: auto;
    display: block;
    margin: 10px auto;
    border: 1px solid black;
  }
  
  .my-image {
    cursor: pointer;
  }

  .delet-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
